*
{
margin: 0;
padding: 0;
}

ul,ol
{
list-style: none;
}
body
{
background: url("ressources/background-pencils2.jpg");
font-family: Arial, Helvetica, sans-serif;
}
header
{
    padding: 0px 0;
    font-family: "poppins", Helvetica, sans-serif;
}
header h1
{
    font-size: 40px;
    text-align: center;
    color : #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
    background-color:#3d8289;
    margin-top: 0px;
    padding: 5px;
}
/*MAIN MENU*/
#main-menu ul
{
    width: 990px;
    height: 500px;
    margin: 0 auto;
    padding-top: 10px;
} 
#main-menu ul li
{
   float: left;
   width: 140px;
   height: 500px;
   overflow: hidden;
   position: relative;
   border: 1px solid #fff;

}

#part1 div
{   
    width: 140px;
    height: 500px;
    cursor: pointer;
}
.bw1
{
    position: absolute;
    left: 0px;
    opacity: 0.7;
    background: url("ressources/plateaurepascolorredimS.jpg") no-repeat;
}
.Color1
{   
    position: absolute;
    left: 140px;
    background: url("ressources/plateaurepascolorredim.jpg") no-repeat;
}

#part2 div
{   
    width: 140px;
    height: 500px;
    cursor: pointer;
}
.bw2
{
    position: absolute;
    left: 0px;
    opacity: 0.7;
    background: url("ressources/tikit-2colorS.jpg") no-repeat;
}
.Color2
{   
    position: absolute;
    left: 140px;
    background: url("ressources/tikit-2color.jpg") no-repeat;
}
#part3 div
{   
    width: 140px;
    height: 500px;
    cursor: pointer;
}
.bw3
{
    position: absolute;
    left: 0px;
    opacity: 0.7;
    background: url("ressources/yahilcolorredimS.jpg") no-repeat;
}
.Color3
{   
    position: absolute;
    left: 140px;
    background: url("ressources/yahilcolorredim.jpg") no-repeat;
}
#part4 div
{   
    width: 140px;
    height: 500px;
    cursor: pointer;
}
.bw4
{
    position: absolute;
    left: 0px;
    opacity: 0.7;
    background: url("ressources/petit\ boum\ color2S.jpg") no-repeat;
}
.Color4
{   
    position: absolute;
    left: 140px;
    background: url("ressources/petit\ boum\ color2.jpg") no-repeat;
    
}
#part5 div
{   
    width: 140px;
    height: 500px;
    cursor: pointer;
}
.bw5
{
    position: absolute;
    left: 0px;
    opacity: 0.7;
    background: url("ressources/galetcolorredimS.jpg") no-repeat;
}
.Color5
{   
    position: absolute;
    left: 140px;
    background: url("ressources/galetcolorredim.jpg") no-repeat;
}
.Description
{
    position: absolute;
    left: 140px;
    width: 240px;
    height: 460px;
    padding: 20px;
    background: #fff;
    font-family: "poppins", Helvetica, sans-serif;
}
.Description h2
{
    padding-top: 20px;
    padding : 10px;
    font-size: 26px;
    margin-top: 30px;
    text-align: center;
    color: rgb(249, 250, 250);
    background-color:#3d8289;
    border-radius: 5px;
    text-transform: uppercase;
}
.Description h3
{
    margin-top: 30px;
    padding: 10px;
    font-size: 26px;
    color: #0d0d0d;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
.Description p
{
    padding-top: 35px;
    font-size: 22px;
    color: #0d0d0d;
    text-align: center;

}

/*BUTTON-MENU*/
#buttons-menu
{
    float: left;
    width: 100%;
    padding: 30px 0 30px 0;
}
#buttons-menu ul
{
    float: left;
    position: relative;
    left: 47%;
    text-align: center;
}
.button
{
    float: left;
    width: 150px;
    margin-left: 30px;
    padding:10px 0;
    position: relative;
    right: 50%;
    text-shadow: 1px 1px 1px #000;
    font-family: "poppins", Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
    background: #3d8289;
    border: 2px solid #070707;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.9;
}
.hovered
{
    background: #47a87b;
    font-size: 19px;
}